<!-- <div class="container"> -->
  <h2>New Idea</h2>

  <p><%= @error if @error %></p>

  <form method="post" action="/ideas">
    <label>Title:</label><br>
    <input type="text" name="title"><br><br>

    <label>Content:</label><br>
    <textarea name="content"></textarea><br><br>

    <label>Share?</label>
    <input type="radio" name="public" value="true"><span> Yes</span>
    <input type="radio" name="public" value="false"><span> No</span><br><br>

    <input type="submit" value="Save">
  </form>
<!-- </div> -->
