<!-- <div class="container"> -->
  <h2>Login Page</h2>

    <p><%= @error if @error %></p>

    <form method="post" action="/users/login">

    <label>Email: </label><br>
    <input type="text" name="email" value=""><br><br>

    <label>Password: </label><br>
    <input type="password" name="password" value=""><br><br>

    <input type="submit" value="Login">

  </form>
<!-- </div> -->

