<!-- <div class='container'> -->
  <header>
    <h1>Idea Board</h1>
  </header>
  <main>
    <ul>
      <% @ideas.each do |idea| %>
      <li>
        <h2><%= idea.title %></h2>
        <p>author: <%= idea.creator.first_name %></p>
        <p><%= idea.content %></p>
      </li>
      <% end %>
    </ul>
  </main>
<!-- </div> -->
